<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burgersStyles.css" type="text/css" />
		<title>Devour These Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgersLogic.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

{{!-- 1. Inside your `burger` directory, create a folder named `views`.

   * Create the `index.handlebars` file inside `views` directory.

   * Create the `layouts` directory inside `views` directory.

     * Create the `main.handlebars` file inside `layouts` directory.

     * Setup the `main.handlebars` file so it's able to be used by Handlebars.

     * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}