<h1> Eat Dem Burgers </h1>

<h2> True </h2>

<ul>
    {{#each burgerData}}
        {{#unless devoured}}
        {{> burgerBlock/burger-Block burgerEaten = true}}
        {{/unless}}
    {{/each}}
</ul>

<h2> False </h2>

<ul>
    {{#each burgerData}}
        {{#if devoured}}
            {{> burgerBlock/burger-Block burgerEaten=false}}
        {{/if}}
    {{/each}}
    
</ul>